In [1]:
import blocksci

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
import collections
import random

In [4]:
import utils

In [5]:
chain = blocksci.Blockchain(utils.blocksci_config())

In [6]:
gt = blocksci.GroundTruth(utils.latest_groundtruth(), chain)

In [7]:
my_cm = blocksci.cluster.ClusterManager(utils.latest_clustering(), chain)

In [8]:
cluster_member = blocksci.heuristics.change.cluster_member(my_cm)

In [9]:
spend_output = blocksci.heuristics.change.actual_spend(my_cm)

In [10]:
gt.transactions().map(lambda tx: cluster_member(tx)).group_by(lambda o: o.address.first_tx == o.tx, lambda os: os.size)

{False: 1542918, True: 33714510}

In [11]:
gt.transactions().map(lambda tx: spend_output(tx)).group_by(lambda o: o.address.first_tx == o.tx, lambda os: os.size)

{False: 20109286, True: 15148142}

In [12]:
change = gt.transactions().map(lambda tx: cluster_member(tx)).map(lambda o: o.address.first_tx == o.tx)

In [13]:
spend = gt.transactions().map(lambda tx: spend_output(tx)).map(lambda o: o.address.first_tx == o.tx)

In [14]:
df = pd.DataFrame({"change": change, "spend": spend})

In [17]:
pd.crosstab(df["change"], df["spend"])

spend      False     True
change
False     730753    812165
True    19378533  14335977